# Segurança
DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*

# Banco de dados
# DB_ENGINE=sqlite   # default
# Para Postgres via docker-compose:
DB_ENGINE=postgres
DB_NAME=mapbiomas
DB_USER=mapbiomas
DB_PASSWORD=mapbiomas
DB_HOST=db
DB_PORT=5432
