# --- Python / Django ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg
*.egg-info/
.installed.cfg
*.egg

# --- Ambiente virtual ---
.venv/
venv/
env/

# --- Django ---
db.sqlite3
db.sqlite3-journal
sqlite_data/
media/
staticfiles/
local_settings.py

# --- Env / secrets ---
.env
.env.local
aqui.txt

# --- IDE ---
.idea/
.vscode/
*.swp
*.swo

# --- OS ---
.DS_Store
Thumbs.db

# --- Logs ---
*.log
