{% extends 'core/base.html' %}

{% block extra_head %}
{{ block.super }}
<style>
    /* Padrão base_painel: 100% largura horizontal e 100% altura vertical */
    main.flex-grow-1 {
        display: flex;
        flex-direction: column;
        width: 100% !important;
        max-width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    .painel-full-width {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    .painel-iframe-container {
        width: 100%;
        flex-grow: 1;
        min-height: 85vh;
        height: 100vh;
        border: 0;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #ffffff;
    }
    .painel-iframe-container iframe {
        width: 100%;
        height: 100%;
        border: 0;
        display: block;
    }
</style>
{% block painel_extra_head %}{% endblock %}
{% endblock %}

{% block content %}
<div class="painel-full-width">
    {% block painel_header %}{% endblock %}
    <div class="painel-iframe-container">
        {% block painel_body %}{% endblock %}
    </div>
    {% block painel_footer %}{% endblock %}
</div>
{% endblock %}
